
input,textarea {
    border: none;
    outline: none;
}
.write {
    border-right: 1px solid #d9d9d9;
    padding-right: 0px;
    padding-left: 0px;
}
.write .title input {
    width: 100%;
    padding: 10px 20px 10px 30px;
    margin-bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0;
    box-shadow: none;
}
.toolbar {
    margin: 0;
    list-style-type: none;
    background-color: #dedede;
    line-height: 40px;
}
.toolbar li {
    float:right;
    padding:0px 20px 
}
.toolbar li:hover{
    background-color: #000;
    color:#FFF;
    cursor: pointer;
}

textarea {
    width: 660px;
    height: 400px;
    resize: none;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
}

.preview {
    background-color: #fcfaf2;
    overflow-y: auto;
    min-height:400px ;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}