<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/markdown.css">
</head>

<body class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
  <div id="app" >
    <div class="row main">
      <div class="col-md-6 write clearfix">
        <div >
          <div class="title"><input v-model="title"></div>
          <ul class="toolbar clearfix">
            <li v-on:click="save">Post</li>
            <li v-on:click="post">Draft</li>
          </ul>
          <div class="editor" style="padding-left: 40px;">
            <textarea id="text-input" v-model="content" v-on:input="update" rows="6" cols="60"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6 preview clearfix" style="padding-top: 20px;">
        <div id="preview">
        </div>
      </div>
    </div>
  </div>
  <script src="/dist/admin.bundle.js"></script>
</body>

</html>