body, html {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    background: #f4f8fa;
}
a {
    text-decoration: none;
    color:#000000;
}
a:hover {
    color:#ff9d00
}

.el-header{
    padding: 0px;
}
.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 2px solid #ff9d00;
    color: #000000;
}
